{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Overview

The GreptimeDB infra test is a testing tool used to verify the performance and connectivity of GreptimeDB underlying infrastructure.

{{ template "chart.requirementsSection" . }}

## How to install
```console
helm upgrade \
  --install greptimedb-infra-test \
  greptime/greptimedb-infra-test \
  -n default
```

{{ template "chart.valuesSection" . }}
