apiVersion: v1
kind: Service
metadata:
  name: {{ include "greptimedb-standalone.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "greptimedb-standalone.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.httpServicePort }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: {{ .Values.grpcServicePort }}
      targetPort: grpc
      protocol: TCP
    - name: mysql
      port: {{ .Values.mysqlServicePort }}
      targetPort: mysql
      protocol: TCP
    - name: postgres
      port: {{ .Values.postgresServicePort }}
      targetPort: postgres
      protocol: TCP
  selector:
    {{- include "greptimedb-standalone.selectorLabels" . | nindent 4 }}
