{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Overview

The GreptimeDB Enterprise Dashboard is a web-based dashboard for managing GreptimeDB instances.

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
