{{- if .Values.auth.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-users-auth
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "greptimedb-cluster.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.auth.fileName }}: |
    {{- range .Values.auth.users }}
    {{- if .permission }}
    {{ printf "%s:%s=%s" .username .permission .password }}
    {{- else }}
    {{ printf "%s=%s" .username .password }}
    {{- end }}
    {{- end }}
{{- end }}
