{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Overview

This chart is used to deploy the remote compaction components (remote-job-scheduler and compactor) for [GreptimeDB Enterprise](https://greptime.com/product/enterprise).

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
